<div class="footer " style="width:100%; background: #fcfcfc;font-size: 10px; justify-content: center;align-items: center;border-top: 1px solid #ededed;">
        <div class="template-card" style="max-width: 367px; width:100%; margin: auto;">
            <footer class="main" style="text-align: center;line-height: 15px; color: #2b2b2b;">
                <div style="padding-top: 22px; text-align:center">

                    <div style="justify-content: center;">
                        <img src="https://crux-seeker-backend.ajency.in/static/images/logo-500.png" alt="logo" width="84">
                    </div>

                        <p style="margin-top:6px;margin-bottom: 16px;color: #2b2b2b;">
                            'You can be everything that you want to be'
                        </p>
                    <div style="clear: both;"></div>
                    <ul style="text-align: center;margin: auto;padding-left: 0;">
                        <li class="social-icon" style="list-style: none;display: inline-block; background: #ededed; border-radius: 100px;padding: 6px 8px;padding: 6px 10px !important;">
                            <a href="https://www.facebook.com/careervira" target="_blank"><img src="https://crux-seeker-backend.ajency.in/static/images/facebook.png" alt="" style="height: 9px"></a>
                        </li>
                        <li class="social-icon" style="list-style: none;display: inline-block; background: #ededed; border-radius: 100px;padding: 6px 8px;margin: 0 20px;">
                            <a href="https://www.twitter.com/careervira" target="_blank"><img src="https://crux-seeker-backend.ajency.in/static/images/twittered.png" alt="" style="height: 9px"></a>
                        </li>

                        <li class="social-icon" style="list-style: none;display: inline-block; background: #ededed; border-radius: 100px;padding: 6px 8px;margin-left:0 !important;">
                            <a href="https://www.linkedin.com/company/careervira" target="_blank"><img src="https://crux-seeker-backend.ajency.in/static/images/linkdin.png" alt="" style="height: 9px"></a>
                        </li>
                    </ul>
                </div>
                <div class="policy" style="color: #2b2b2b;justify-content: center; text-align: center;margin:20px auto;">
                    <div style="display: flex;margin-left:100px">
                    <a class="link" style="color: #2b2b2b !important;text-decoration: none;" target="_blank" href="https://careervira.com/about-us">
                        <p style="margin:0px;margin-right: 2px;"> About Us | </p>
                    </a>
                    <a class="link" style="color: #2b2b2b !important;text-decoration: none;" target="_blank" href="https://careervira.com/privacy-policy">
                        <p style="margin:0px;margin-right: 2px;"> Privacy Policy | </p>
                    </a>
                    <a class="link" style="color: #2b2b2b !important;text-decoration: none;" target="_blank" href="https://careervira.com/user-agreement">
                        <p style="margin: 0px;"> Terms of Use</p>
                    </a>
                    </div>
                </div>
                <p style="color: #6a6a6a;margin-bottom: 5px;text-align:center">Need Help?</p>
                <div style="display:flex;justify-content: center;">
                    <p style="color: #6a6a6a; margin-right: 2px;margin-top:0px;margin-left:90px">Contact us at </p>
                    <a href="mailto:customercare@careervira.com"><p style="margin-top:0px;text-decoration: underline;color: #1483dc;"> customercare@careervira.com</p></a>
                </div>
            </footer>
        </div>
    </div>

</body>

</html>