</div>
        </div>
    </div>
   <div class="main " style="width:100%; background: #F7F7F7;font-size: 14px;">
        <div class="template-card" style="max-width: 750px; width:100%; margin: auto;">
            <footer class="main" style="line-height: 25px; color: #6a6a6a;">
                <div style="padding:6px ;padding-top: 24px;">

                    <div style="width: 200px;">
                        <img src="https://crux-seeker-backend.ajency.in/static/images/logo-500.png" alt="logo" style="width: 100%;">
                    </div>



                    <div style="clear: both;margin-top: 13px;">
                        <p style="margin-top:0;margin-bottom: 12px;float: left;color: #6a6a6a;width: 40%;">
                            <span> <a href="https://careervira.com/"><span style="text-decoration: underline;color: #6a6a6a;">Careervira.com</span></a> <br> Ideas At Scale India Pvt. Ltd <br> WeWork 32nd Milestone <br> Gurugram 122001 <br> Haryana,
                            India
                            </span>
                        </p>
                        <p style="margin-top:0;float: right;text-align:right;color: #6a6a6a;width: 58%;">
                            <span> Need help? <br> Contact us at <a href="mailto:customercare@careervira.com" style="color: #6a6a6a;overflow-wrap: break-word;"><span style="text-decoration: underline;">customercare@careervira.com</span></a>
                            </span>
                            <br><span style="color: #6a6a6a">2021. Ideasatscale. All Rights reserved.</span>
                        </p>
                    </div>
                    <div style="clear: both;"></div>
                    <a href="https://careervira.com/privacy-policy">
                        <p style="text-align:center;font-size: 16px;text-decoration: underline;color: #6a6a6a;margin-top: 9px; margin-bottom: 24px;"> Privacy Policy</p>
                    </a>
                    <ul style="text-align: center;margin: auto;padding-left: 0;margin-bottom: 24px;">
                        <li style="list-style: none;display: inline-block;">

                            <a href="https://www.facebook.com/careervira" target="_blank"><img src="https://crux-seeker-backend.ajency.in/static/images/facebook.png" alt="" style="height: 18px"></a>

                        </li>
                        <li style="list-style: none;display: inline-block;margin: 0 52px;">
                            <a href="https://www.twitter.com/careervira" target="_blank"><img src="https://crux-seeker-backend.ajency.in/static/images/twittered.png" alt="" style="height: 18px"></a>
                        </li>

                        <li style="list-style: none;display: inline-block;margin-left:0 !important;">
                            <a href="https://www.linkedin.com/company/careervira" target="_blank"><img src="https://crux-seeker-backend.ajency.in/static/images/linkdin.png" alt="" style="height: 18px"></a>
                        </li>
                    </ul>

                </div>

            </footer>
        </div>
    </div>
    <hr style="background: linear-gradient(90deg, #5DC1FC 0%, #FFD600 100%);height: 5px;margin: 0;">

</body>

</html>