<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>payment failed</title>
    <style>
        .gs li {
            margin-left: 0px !important;
        }
        
        @media only screen and (max-width:480px) {
            footer {
                font-size: 14px;
            }
        }
    </style>
</head>


<body class="bdr" style="font-family: Montserrat,'Roboto',sans-serif;color: #010010;font-size: 16px;margin: 0;padding: 0;box-sizing: border-box;line-height: 25px;  ">
    <hr style="background: linear-gradient(90deg, #5DC1FC 0%, #FFD600 100%);height: 5px;margin: 0;">

    <div class="main " style="margin:  auto; max-width: 750px; width:100%;padding-top: 30px; ">
        <div class="template-card" style="max-width: 750px; width:100%; margin: auto; ">
            <div style="padding: 0 6px;">
                <div style="width: 200px;">
                                                                <img src="https://crux-seeker-backend.ajency.in/static/images/logo-500.png" alt="logo" style="width: 100%;">


                </div>