<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap&family=Montserrat:wght@100;200;300;400;500;600" rel="stylesheet">
    <title>payment failed</title>
    <style>
        .gs li {
            margin-left: 0px !important;
        }
        .social-icon{
            list-style: none;
            display: inline-block;
            background: #ededed;
            border-radius: 100px;
            padding: 6px 8px;
        }
        .link{
            color: #2b2b2b !important;
            text-decoration: none;
        }
        .card{
            min-height: 84px;
            width: 100%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            display: flex;
            padding: 7px;
            margin-bottom: 20px;
            color: #2b2b2b;
        }
        .card-img{
            width: 70px;
            height: 70px;
            border-radius: 4px;
            margin-right: 8px;
        }
        .image{
            border-radius: 4px;
            object-fit: cover;
            width: 70px;
            height: 70px;
        }
        .card-data{
            text-align: left;
        }
        .card-title{
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 2px;
        }
        .card-subtitle{
            font-size: 10px;
            font-weight: 400;
            margin-bottom: 7px;
        }
        .card-link{
            color: #1483dc;
            font-size: 10px;
            font-weight: 500;
            text-decoration: underline;
        }
        .explore-icons{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .hex {
    margin-top: 30px;
    width: 58px;
    height: 40px;
    background-color: #f7f7f7;
    border-color:#f7f7f7;
    position: relative;
    display: inline-block;
}

.hex-text{
    font-size: 10px;
    font-weight: 500;
    margin-top: 2px;
}
        .blue-box{
            max-width: 367px;
            border-radius: 8px;
            background: #4fa2e5;
            color: #fafafa;
            padding: 20px 38px;
            margin-bottom: 48px;
        }
        @media(max-width:767px){
            .blue-box{
                margin-left: 6px;
            }
        }
         @media only screen and (max-width:480px) {
            footer {
                font-size: 10px;
            }
        }
    </style>
</head>
<body style="font-family: Poppins; background-color: #fff;color:#2b2b2b; font-weight: 400; font-size: 10px; line-height: 14px;">

    <div class="email-template-container" style="max-width: 367px;background: #fff; padding-bottom: 0px; width: 100%; margin: auto;">

        <!-- header -->
        <div class="header" style="
            background: #ffffff;
            padding-top: 40px;
            padding-bottom: 25px;">

            <p style="
            color: #2b2b2b;
            font-family: Montserrat, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            margin: 0 !important;
            text-align: center;
            justify-content: center;
            ">
                <img src="https://crux-seeker-backend.ajency.in/static/images/logo-500.png" width="170"
                    style="clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none"
                    class="CToWUd">
            </p>
        </div>