{{> emailHeader }}
<p style="margin: 24px 0;">Hello,</p>
<p style="margin-bottom: 24px;">The OTP to verify your email is {{otp}}. Please do not share your OTP with anyone. The OTP is valid for 10 minutes only.</p>

<p style="margin: 24px 0;">If you did not initiate this request, please contact us at immediately at
    <a href="mailto:customercare@careervira.com" style="color: #2196F3; font-weight: 500;">
        <span style="text-decoration: underline;"> customercare@careervira.com</span> </a>
</p>

<p>
    Thank you, <br> The Careervira Team
</p>
{{> emailFooter }}