{{> emailHeader }}
<div class="content" style="background: white; padding: 40px;">
    <div class="infoBlock"
        style="margin: 0 0 30px;  padding: 30px;text-align: center; background: #FAFAFA; border: 1px solid #007FCA;">

        <h4 class="mainTitle"
            style="font-size: 20px; line-height: 25px; letter-spacing: 1px; font-weight: 600; margin-bottom: 0; padding-bottom: 5px; position: relative;">
            Feedback</h4>
        <span
            style="border-bottom:1px solid #007FCA;height: 4px;width: 60px;display: block;margin: auto;"></span>
        <span
            style="border-bottom:1px solid #007FCA;height: 4px;width: 40px;display: block;margin: auto;"></span>
        <p
            style="font-size: 16px;line-height: 22px; letter-spacing: 1px; padding-bottom: 10px; color: rgba(0,0,0,0.7);">
            
            Name : {{name}}<br>
            Email : {{email}}<br>
            Phone : {{phone}}<br>
            Comment : {{comment}}<br>
        </p>                         
    </div>                
</div>
{{> emailFooter }}
          
