<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crux- Forgot Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    
  </head>
  <body style="font-family: Montserrat, sans-serif; background-color: #e5e5e5; font-weight: 400; font-size: 16px;">
    
    {{!-- email conatiner --}}
    <div class="email-template-container" style="max-width: 650px;background: white;margin: 50px auto;">


        {{!-- email header --}}
        <div class="email-header" style="height: 112px;width: 100%;display: flex;justify-content: center;align-items: center;border-bottom: 0.5px solid #adadad;">

          <p style="margin-bottom:12px;color:#202022;font-family:arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0!important;margin-bottom:12px;padding:0 0 15px;text-align:center;border-bottom: 1px solid #adadad;"><img src={{resource_link}}/static/images/logo.png width="70" style="clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none" class="CToWUd"></p>

        </div>

        {{!-- email body --}}
        <div class="email-body" style="padding: 20px;">

            {{!-- email para 1 --}}
            <div class="email-para-1">
                <p><strong>Hello,</strong></p>

                <p>
                    A request has been received to change the passowrd for you CRUX
                    aaccount. <strong>Click below</strong> to rest your password.
                </p>
            </div>

            {{!-- button --}}
            <div class="button-block" style="display: flex; justify-content: center; width: 100%; margin: 30px auto;">
                <button style="width: 220px;height: 42px;background: linear-gradient(99.58deg, #fff076 0%, #fff5a4 98.13%);border: none;font-size: 14px;font-weight: 600;">
                    Reset password
                </button>
            </div>

            {{!-- email para 2 --}}
            <div class="email-para-2">
                If you did not initiate this request, please contact us at immediately
                at <a href="mailto:support@crux.com">support@crux.com</a>.
            </div>

            {{!-- thank you --}}
            <div class="email-thankyou" style="margin-top: 40px;">Thank You<br>The CRUX Team</div>

            {{!-- social media --}}
            <div class="follow-text mb-15 w-50 text-center" style="margin-bottom: 15px;width: 100%; text-align: center;">
                <a href="#" target="_blank" class="d-inline-block" style="text-decoration: none;">
                    <img width="8" src={{resource_link}}/static/images/fb.png />
                </a>
                <a href="#" target="_blank" class="d-inline-block" style="text-decoration: none; padding: 0 8px;">
                    <img width="16" src={{resource_link}}/static/images/twitter.png />
                </a>
                <a href="#" target="_blank" class="d-inline-block" style="text-decoration: none;">
                    <img width="18" src={{resource_link}}/static/images/linkedin.png />
                </a>
            </div>
        </div>

        {{!-- email footer --}}
        <div class="footer" style="width: 100%; text-align: center;">
            <p>
                <span style="color: #8a8a8a">Send to <a href="mailto:ashish@gmail.com" style="color: #8a8a8a; text-decoration: none;">ashish@gmail.com</a></span> | 
                <span style="color: #8a8a8a"> Unsubscribe | Privacy Policy </span>
            </p>
            <p style="color: #8a8a8a"> Need help? Contact us at <a href="mailto:support@thecrux.com" style="color: #8a8a8a; text-decoration: none;">support@thecrux.com</a></p>
            <p> 
                <span style="color: #8a8a8a">Crux company Name & Address</span> 
                <span style="color: #8a8a8a"> 20 square Road,#02-01, 049. United States</span>
            </p>
        </div>
    </div>

  </body>
</html>
