{{> emailHeader }}

<p style="margin: 24px 0;">Dear User,</p>
<p style="margin-bottom: 24px;">Welcome back. Your account has been reactivated, thank you for being patient with us.</p>
<p style="margin: 24px 0;">Please login to your account and continue exploring Careervira.</p>

<p>
    Thank you, <br>Careervira Team
</p>
{{> emailFooter }}