<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Crux - Reset password</title>
</head>
<body>
<div class="frise"></div>
<div class="container details">
    
    <div class="main">
        <div class="cadre">
 
                <div class="content">
                

                   <p> A password reset for your account was requested.</p>

                  <p>   Please click the button below to change your password.</p>

                    <p> Note that this link is valid for 24 hours. After the time limit has expired, you will have to resubmit the request for a password reset.</p>
                    <a href={{reset_link}}  target="_blank">
                    <button style=" background: linear-gradient(99.58deg, #FFF076 0%, #FFF5A4 98.13%);
                        border: 0.5px solid #000000; box-sizing: border-box; border-radius: 2px;  height: 40px;
                        padding: 0 30px; font-size: 14px; line-height: 18px; font-weight: 600;
                        text-transform: uppercase;">Reset Password</button></a><br><br>
                Sincerely,<br>
                The Team at Crux
                </div>
        </div>
    </div>
    <div class="nav">
        <ul></ul>
    </div>
</div>

</body>
</html>