<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Forgot Password</title>
</head>

<body style="font-family: Montserrat;color: #010010;font-size: 16px;line-height: 24px;margin: 0;padding: 0;box-sizing: border-box;">

    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

        <!-- START HEADER/BANNER -->

        <tbody>
            <tr>
                <td align="center">
                    <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 30px;">
                        <tbody>
                            <tr>
                                <td><img src="https://d2uwy4ckc30nxc.cloudfront.net/media/email/new_logo.png"
                                        alt=""></td>
                            </tr>

                            <tr>
                                <td style="line-height: 25px;">
                                    <p style="margin: 24px 0;">Hello,</p>
                                    <p style="margin-bottom: 24px;">A request has been received to change the passowrd for you CRUX aaccount. Click below to rest your password.</p>
                                    <a href={{reset_link}} style="">
                                        <button type="button" style="border:0;color:#fff;cursor: pointer;    letter-spacing: 1px;height: 37px;left: 114px;top: 223px;background: #2196F3;border-radius: 2px;padding: 11px 12px;font-weight: 600;"> RESET PASSWORD
                            </button>
                                    </a>
                                    <p style="margin: 24px 0;">If you did not initiate this request, please contact us at immediately at
                                        <a href="customercare@careervira.com" style="color: #2196F3; font-weight: 500;">
                                        support@crux.com </a>
                                    </p>

                                    <p>
                                        Thank you, <br> The CruX Team
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>


            <tr>
                <td align="center">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="background: #F7F7F7;">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="750" border="0" align="center" cellpadding="0" cellspacing="0" style="background: #F7F7F7;    padding: 35px 0;line-height: 28px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <footer style="line-height: 25px;">
                                                        <tr>
                                                            <td><img src="https://d2uwy4ckc30nxc.cloudfront.net/media/email/new_logo.png" alt=""></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div style="clear: both;margin-top: 10px;">
                                                                    <p style="margin-top:0;margin-bottom: 12px;float: left;">
                                                                        <span>20 square Road, <br> #02-01, 049, <br> Unites States</span>
                                                                    </p>
                                                                    <p style="margin-top:0;margin-bottom: 12px;float: right;text-align:right;">
                                                                        <span> Need help? <br> Contact us at                         <a href="#" style="color: #010101;">customercare@careervira.com</a></span>
                                                                    </p>
                                                                </div>
                                                                <div style="clear: both">
                                                                    <p style="text-align:center;font-size: 16px;text-decoration: underline;"> Privacy Policy</p>
                                                                </div>
                                                                <ul style="text-align: center;margin: auto;padding-left: 0;">
                                                                    <li style="list-style: none;display: inline-block;">

                                                                        <a href="https://www.facebook.com/careervira" target="_blank"><img src="https://ik.imagekit.io/adi1239457/facebook_qLj53TlT2.png" alt="" style="height: 18px"></a>

                                                                    </li>
                                                                    <li style="list-style: none;display: inline-block;margin: 0 52px;">
                                                                        <a href="https://www.twitter.com/careervira" target="_blank"><img src="https://ik.imagekit.io/adi1239457/twitter_ORZHBm6SA.png" alt="" style="height: 18px"></a>
                                                                    </li>

                                                                    <li style="list-style: none;display: inline-block;margin-left: 0;">
                                                                        <a href="https://www.linkedin.com/company/careervira" target="_blank"><img src="https://ik.imagekit.io/adi1239457/linkd_Rt2xw1f1bO.png" alt="" style="height: 18px"></a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </footer>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>