{{> emailHeader }}
{{!-- email para 1 --}}
<div class="email-para-1">
    <p><strong>Hello,</strong></p>

    <p>
        A request has been received to change the password for your Careervira
        account. <strong>Click below</strong> to reset your password.
    </p>
</div>

{{!-- button --}}
<div class="button-block" style="display: flex; justify-content: center; width: 100%; margin: 30px auto;">
    <a href={{reset_link}} target="_blank" style="display: inline-block;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 15px 30px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background-color: #007AC1;
        border-color: #007AC1;
        border: 0;
        box-shadow: none;
        outline: 0;
        cursor: pointer;
        ">
        Reset password
    </a>
</div>

{{!-- email para 2 --}}
<div class="email-para-2">
    If you did not initiate this request, please contact us immediately
    at <a href="mailto:support@crux.com">support@crux.com</a>.
</div>

{{!-- thank you --}}
<div class="email-thankyou" style="margin-top: 40px; margin-bottom:30px;">Thank You<br>The Careervira Team</div>
{{> emailFooter }}

