{{> emailHeader }}
<div class="email-body" style="padding: 20px 40px;">

            <div class="email-para-1">
                <p>Hello shreya,</p>

                <p>
                    We have received a 'forgot password' request from your Careervira account.
                </p>
                <p>
                    Click on the link below and you will be prompted to create a new password.
                </p>
            </div>

            <div class="button-block" style="text-align:center; justify-content: center; width: 100%; margin: 20px auto;font-family: Montserrat;">
                <a href={{reset_link}} target="_blank" style="display: inline-block;
                    box-sizing: border-box;
                    border-radius: 4px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                    padding: 10px;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #fff;
                    background-color: #1483dc;
                    border-color: #1483dc;
                    border: 0;
                    outline: 0;
                    cursor: pointer;">
                    Reset Password
                </a>
            </div>

            <div class="email-para-2" style="font-style:italic; margin-bottom:15px">
                If you did not initiate this request, you can ignore this mail.
            </div>
            <div class="email-para-3">
                This email is only valid for 24 hours, after that, you must request a new password request email.
            </div>

        </div>
{{> emailFooter }}
