
{{> emailHeader }}
<p style="margin: 24px 0;">Dear User,</p>
<p style="margin-bottom: 24px;">Your Careervira account has been suspended due to your recent activity. We've taken this action to protect our members and partners until we clear this out.</p>
<p style="margin: 24px 0;">You will not be able to login until your account is reactivated. Please bear with us.</p>

<p>
    Thank you, <br>Careervira Team
</p>
{{> emailFooter }}
            