{{> emailHeader }}
<p style="margin-bottom: 24px;margin-top: 30px;color: #010010;">Hello, you are a click away.</p>
<p style="margin-bottom: 24px;color: #010010;">Hit the button below to verify your email and get back to great learning content!</p>
<a href="{{verification_link}}" target="_blank">
    <button type="button" style="border:0;color:#fff;height: 40px;font-weight: bold; letter-spacing: 1px;left: 114px;top: 223px;background: #2196F3;border-radius: 2px;padding: 11px 12px;font-size: 14px;"> VERIFY MY EMAIL
                        </button>
</a>
<p style="margin: 24px 0;color: #010010 !important;"><span style="color: #010010;">Or copy this link and paste it in your browser.</span> <br>
    <a href="#" style="color: #2196F3; font-weight: 500;">
                        {{verification_link}} </a>
</p>

<p style="color: #010010;">
    Cheers, <br> The Careervira Team
</p>
{{> emailFooter }}