{{> emailHeader }}
<div class="content" style="background: white; padding: 40px;">
    <p style="
color: rgba(0, 0, 0, 0.7);
font-size: 16px;
letter-spacing: 1px;
">
        Hello you're a click away,
    </p>

    <p style="
color: rgba(0, 0, 0, 0.7);
font-size: 18px;
letter-spacing: 1px;
">
        <strong>Hit</strong> the button below to
        <strong>verify you email</strong> and get back to great learning
        content!
    </p>
    <br />

    <a href="{{verification_link}}" target="_blank" style="
    display:inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 30px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration:none;
    color: #fff;
    background-color: #007AC1;
border-color: #007AC1;
">

        Verify My Email
    </a><br /><br />

    <p style="
color: rgba(0, 0, 0, 0.7);
font-size: 16px;
letter-spacing: 1px;
">
        Or copy this link and paste in your browser {{verification_link}}
    </p>
    <br />

    <p style="
color: rgba(0, 0, 0, 0.7);
font-size: 16px;
letter-spacing: 1px;
margin-bottom: 70px;
">
        Cheers,<br />
        The Careervira Team
    </p>

    <div style="
display: flex;
align-items: center;
justify-content: center;
">
        <span class="seperator" style="
    width: 40%;
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.2);
    margin: 15px 0;
"></span>
        <h3 class="title" style="
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: relative;
    padding: 0px 25px;
    margin: 0 15px;
    white-space: nowrap;
    font-weight: 900;
    border-bottom: 2px solid;
    color: #000000;
">
            About Us
        </h3>
        <span class="seperator" style="
    width: 40%;
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.2);
    margin: 15px 0;
"></span>
    </div>

    <img src="{{resource_link}}/static/images/about-us.png" style="width: 100%; margin: 20px 0;" />

    <br />
    <p style="
color: rgba(0, 0, 0, 0.7);
margin-bottom: 30px;
letter-spacing: 0.8px;
font-size: 18px;
line-height: 191%;
">
        Our mission is to provide the best learning experience and guide
        to you the best career path
    </p>
    <p></p>

</div>
{{> emailFooter }}
            