<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Crux - Verification</title>

<style>
    body{
        font-family: 'Livvic'; 
        background: #f3f3f3;
    }
    .template-card{
        max-width: 650px;
        margin: auto;
    }
    button{
        background: linear-gradient(99.58deg, #FFF076 0%, #FFF5A4 98.13%);
        border: 0.5px solid #000000;
        box-sizing: border-box;
        border-radius: 2px;
        height: 40px;
        padding: 0 30px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }
    p{
        color: rgba(0,0,0,0.7);
    }
    .title{
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        position: relative;
        padding: 0 30px;
        margin: 0 30px;
        white-space: pre;
    }
    .title:after{
        content: '';
        background: #000;
        height: 0.5px;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .seperator{
        border-bottom: 0.25px solid rgba(0, 0, 0, 0.6);
        width: 40%;
    }
</style>
</head>
<body>
<div class="frise"></div>
<div class="container details">
    
    <div class="main">
        <div class="template-card">
 
                <div class="header">
                    <p style="margin-bottom:12px;color:#202022;font-family:arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0!important;margin-bottom:12px;padding:0 0 15px;text-align:center;border-bottom: 1px solid #adadad;"><img src="" width="109" style="clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none" class="CToWUd"></p>
                </div>
                <div class="content" style="background: white; padding: 40px;">
                    <p style="margin-top: 30px;">Hello you're a click away,</p>

                    <p><strong>Hit</strong> the button below to <strong>verify you email</strong> and get back to greta learning content!</p><br>

                    <button>Verify My Email</button><br><br>

                    <p>Or copy this link and paste in your browser
                    {{verification_link}}</p><br>
                    
                    <p>Cheers,<br>
                    The Crux Team</p>

                    <div style="display: flex; align-items: center; justify-content: center;">
                        <span class="seperator"></span>
                        <h3 class="title">About Us</h3>
                        <span class="seperator"></span>
                    </div>

                    <img src="">

                    <br>
                    <p>Our mission is to provide the best learning experience and guide to you the best career path<p>

                    <div class="follow-text mb-15 w-50 text-center" style="margin-bottom: 15px;width: 100%; text-align: center;">
                        <a href="#" target="_blank" class="d-inline-block" style="text-decoration: none;">
                            <img width="30" src=""/>
                        </a>
                        <a href="#" target="_blank" class="d-inline-block" style="text-decoration: none;">
                            <img width="30" src=""/>
                        </a>
                        <a href="#" target="_blank" class="d-inline-block" style="text-decoration: none;">
                            <img width="30" src=""/>
                        </a>
                    </div>

                    <div class="footer" style="width: 100%; text-align: center;">
                        <p>
                            <span style="color: #8a8a8a">Send to <a href="mailto:ashish@gmail.com" style="color: #8a8a8a; text-decoration: none;">ashish@gmail.com</a></span> | 
                            <span style="color: #8a8a8a"> Unsubscribe | Privacy Policy </span>
                        </p>
                        <p style="color: #8a8a8a"> Need help? Contact us at <a href="mailto:support@thecrux.com" style="color: #8a8a8a; text-decoration: none;">support@thecrux.com</a></p>
                        <p> 
                            <span style="color: #8a8a8a">Crux company Name & Address</span> 
                            <span style="color: #8a8a8a"> 20 square Road,#02-01, 049. United States</span>
                        </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="nav">
        <ul></ul>
    </div>
</div>

</body>
</html>

