<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap" rel="stylesheet">
    <title>verify</title>
    <style>
        .gs li {
            margin-left: 0px !important;
        }
    </style>
</head>

<body style="font-family: Montserrat;color: #010010;font-size: 16px;margin: 0;padding: 0;box-sizing: border-box;">

    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

        <!-- START HEADER/BANNER -->

        <tbody>
            <tr>
                <td align="center">
                    <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 30px;">
                        <tbody>
                            <tr>
                                <td><img src="https://d2uwy4ckc30nxc.cloudfront.net/media/email/new_logo.png" alt=""></td>
                            </tr>

                            <tr>
                                <td style="line-height: 28px;">
                                    <p style="margin-bottom: 24px;margin-top: 30px;">Hello, you are a click away.</p>
                                    <p style="margin-bottom: 24px;">Hit the button below to verify your email and get back to great learning content!</p>
                                    <a href="#">
                                        <button type="button" style="border:0;color:#fff;height: 37px;font-weight: bold;    letter-spacing: 1px;;left: 114px;top: 223px;background: #2196F3;border-radius: 2px;padding: 11px 12px;"> VERIFY MY EMAIL
                                        </button>
                                    </a>
                                    <p style="margin: 24px 0;">Or copy this link and paste it in your browser. <br>
                                        <a href="#" style="color: #2196F3; font-weight: 500;">
                                        https://the-crux-.com/gift-story/?dgfhYSh </a>
                                    </p>

                                    <p>
                                        Cheers, <br> The Careervira Team
                                    </p>
                                    <hr style="border: 0.5px solid #ADADAD;">
                                    <p style="letter-spacing: 1px;color: #6f6f6f;text-align: center;margin-bottom: 3px;">ABOUT US</p>
                                    <hr style="width: 48px;border: .5px solid #5DC1FC;margin-top: 0;margin-bottom: 19px;">
                                    <img src="https://ik.imagekit.io/adi1239457/about_us_Ekv4jQjWj.png" style="width: 70%;" alt="about">
                                    <p style="width: 70%;">Our mission is to provide the best learning experience and guide to you the best career path</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>


            <tr>
                <td align="center">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="background: #F7F7F7;">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="750" border="0" align="center" cellpadding="0" cellspacing="0" style="background: #F7F7F7;    padding: 35px 0;line-height: 28px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <footer style="line-height: 25px;">
                                                        <tr>
                                                            <td><img src="https://d2uwy4ckc30nxc.cloudfront.net/media/email/new_logo.png" alt=""></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div style="clear: both;margin-top: 10px;">
                                                                    <p style="margin-top:0;margin-bottom: 12px;float: left;">
                                                                        <span>20 square Road, <br> #02-01, 049, <br> Unites States</span>
                                                                    </p>
                                                                    <p style="margin-top:0;margin-bottom: 12px;float: right;text-align:right;">
                                                                        <span> Need help? <br> Contact us at                         <a href="#" style="color: #010101;">customercare@careervira.com</a></span>
                                                                    </p>
                                                                </div>
                                                                <div style="clear: both">
                                                                    <p style="text-align:center;font-size: 16px;text-decoration: underline;"> Privacy Policy</p>
                                                                </div>
                                                                <ul style="text-align: center;margin: auto;padding-left: 0;">
                                                                    <li style="list-style: none;display: inline-block;">

                                                                        <a href="https://www.facebook.com/careervira" target="_blank"><img src="https://ik.imagekit.io/adi1239457/facebook_qLj53TlT2.png" alt="" style="height: 18px"></a>

                                                                    </li>
                                                                    <li style="list-style: none;display: inline-block;margin: 0 52px;">
                                                                        <a href="https://www.twitter.com/careervira" target="_blank"><img src="https://ik.imagekit.io/adi1239457/twitter_ORZHBm6SA.png" alt="" style="height: 18px"></a>
                                                                    </li>

                                                                    <li style="list-style: none;display: inline-block;">
                                                                        <a href="https://www.linkedin.com/company/careervira" target="_blank"><img src="https://ik.imagekit.io/adi1239457/linkd_Rt2xw1f1bO.png" alt="" style="height: 18px"></a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </footer>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>