<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>welcome</title>
</head>

<body style="font-family: Montserrat;line-height: 25px;color: #010010;font-size: 16px;margin: 0;padding: 0;box-sizing: border-box;">

    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 30px;">

        <!-- START HEADER/BANNER -->

        <tbody>
            <tr>
                <td align="center">
                    <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td><img src="https://d2uwy4ckc30nxc.cloudfront.net/media/email/new_logo.png" alt=""></td>
                            </tr>
                            <tr>
                                <td>
                                    <h1 style="font-size: 24px;font-weight: 700;color: #666666;margin-bottom: 25px;margin-top: 30px;">WELCOME TO CRUX</h1>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="line-height: 0px;">
                                    <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://ik.imagekit.io/adi1239457/image_724_F5yq9I-MOO.png" width="100%" alt="logo">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 24px 0;">Thank you for signing up. We are glad to have you here. As a new member you will get:</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td align="center">
                    <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>

                            <tr>
                                <td>


                                    <div style="text-align: center;display: flex;justify-content: space-between;">
                                        <div>
                                            <img style="display:block;margin: auto; line-height:0px; font-size:0px; border:0px;" src="https://ik.imagekit.io/adi1239457/Group_1904_-19TYsyQk.png" width="67" height="68" alt="icon">
                                            <p style="margin-top: 12px;">View, <br> Learn content</p>
                                        </div>


                                        <div>
                                            <img style="display:block;margin: auto; line-height:0px; font-size:0px; border:0px;" src="https://ik.imagekit.io/adi1239457/Group_1903_HxNHMSGxXd.png" width="67" height="68" alt="icon">
                                            <p style="">Enquire</p>
                                        </div>
                                        <div>
                                            <img style="display:block;margin: auto; line-height:0px; font-size:0px; border:0px;" src="https://ik.imagekit.io/adi1239457/Group_1877_rj1mEl5bEh.png" width="67" height="68" alt="icon">
                                            <p style="">Buy courses</p>
                                        </div>

                                    </div>

                                </td>
                                <td>
                                    <tr>
                                        <td>
                                            <p style="margin: 24px 0;">Thank you again for being a part of this. It means a lot to all of us.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="margin-top: 0;">Cheers, <br> The CruX Team</p>
                                        </td>
                                    </tr>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="background: #F7F7F7;padding: 0 30px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="700" border="0" align="center" cellpadding="0" cellspacing="0" style="background: #F7F7F7;    padding: 35px 0;line-height: 28px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <footer style="line-height: 25px;">
                                                        <tr>
                                                            <td><img src="https://d2uwy4ckc30nxc.cloudfront.net/media/email/new_logo.png" alt=""></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div style="clear: both;margin-top: 10px;">
                                                                    <p style="margin-top:0;margin-bottom: 12px;float: left;">
                                                                        <span>20 square Road, <br> #02-01, 049, <br> Unites States</span>
                                                                    </p>
                                                                    <p style="margin-top:0;margin-bottom: 12px;float: right;text-align:right;">
                                                                        <span> Need help? <br> Contact us at                         <a href="#" style="color: #010101;">customercare@careervira.com</a></span>
                                                                    </p>
                                                                </div>
                                                                <div style="clear: both">
                                                                    <p style="text-align:center;font-size: 16px;text-decoration: underline;"> Privacy Policy</p>
                                                                </div>
                                                                <ul style="margin: auto;padding-left: 0;text-align:center ;">
                                                                    <li style="list-style: none;display: inline-block;">

                                                                        <a href="https://www.facebook.com/careervira" target="_blank" class="text-dark-black"><img src="https://ik.imagekit.io/adi1239457/facebook_qLj53TlT2.png" class="img-fluid" alt="" style="height: 18px"></a>

                                                                    </li>
                                                                    <li style="list-style: none;display: inline-block;margin: 0 52px;">
                                                                        <a href="https://www.twitter.com/careervira" target="_blank" class="text-dark-black"><img src="https://ik.imagekit.io/adi1239457/twitter_ORZHBm6SA.png" class="img-fluid" alt="" style="height: 18px"></a>
                                                                    </li>

                                                                    <li style="list-style: none;display: inline-block;margin-left: 0 !important;">
                                                                        <a href="https://www.linkedin.com/company/careervira" target="_blank" class="text-dark-black"><img src="https://ik.imagekit.io/adi1239457/linkd_Rt2xw1f1bO.png" class="img-fluid" alt="" style="height: 18px"></a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </footer>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>