{{> emailHeader }}
<h1 style="font-size: 24px;font-weight: 700;color: #666666;margin-bottom: 24px;margin-top: 30px;padding: 0 6px;">WELCOME TO CAREERVIRA</h1>
<div style="padding: 0 6px;">
    <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://crux-seeker-backend.ajency.in/static/images/img1.png" width="100%" alt="logo">
</div>
<p style="margin: 24px 0;padding: 0 6px;">Thank you for signing up. We are glad to have you here. As a new member you will get:</p>
<div style="text-align:center;display:flex;font-size: 14px;">
    <div style="width: 33%;">
        <img style="display:block;margin: auto; line-height:0px; font-size:0px; border:0px;" src="https://crux-seeker-backend.ajency.in/static/images/img2.png" width="67" height="68" alt="icon">
        <p style="margin-top: 8px;">View, <br> Learn content</p>
    </div>
    <div style="width: 33%;">
        <img style="display:block;margin: auto; line-height:0px; font-size:0px; border:0px;" src="https://crux-seeker-backend.ajency.in/static/images/img3.png" width="67" height="68" alt="icon">
        <p style="margin-top: 8px;">Enquire</p>
    </div>
    <div style="width: 33%;">
        <img style="display:block;margin: auto; line-height:0px; font-size:0px; border:0px;" src="https://crux-seeker-backend.ajency.in/static/images/img4.png" width="67" height="68" alt="icon">
        <p style="margin-top: 8px;">Buy courses</p>
    </div>

</div>
<p style="margin: 8px 0 24px;padding: 0 6px;">Thank you again for being a part of this. It means a lot to all of us.</p>

<p style="margin-top: 0;margin-bottom: 24px;padding: 0 6px;">Cheers, <br> The Careervira Team</p>
{{> emailFooter }}