{{> emailHeader }}
<h1 style="font-family: Alegreya !important;text-align:center ;font-size: 16px;font-weight: 500;margin-top: 30px;">World-Class learning for Professionals</h1>
            <hr style="border: 2px solid #ffd600;max-width: 280px;margin-bottom: 36px;">
            <div style="padding: 0 6px;">
                <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://d2lk14jtvqry1q.cloudfront.net/media/welcome_Email_Banner_fff77d9c5e.png" width="100%" height="120" alt="logo">
            </div>
            <div style="margin-top: 32px;font-size: 10px;padding: 0px 6px;">
                <p style="font-size: 14px;font-weight: 600;margin-bottom: 8px;text-align:center ;">Welcome to Careervira</p>
                <p style=" font-weight: 400;margin-bottom: 24px;text-align: left;">Thank you for signing up with careervira. We are delighted to have you onboard with us !</p>
                <p style=" font-weight: 400;margin-bottom: 24px;text-align: left;">Careervira is a global professional learning marketplace where you can make learning decisions - courses, programmes, learning partners and institutes. We also offer learn and career advice from industry experts, academics & professional learners. To explore click on the link below.</p>
            </div>
            <div class="button-block" style="text-align:center ; justify-content: center; width: 100%; margin-bottom: 26px;">
                <a href="https://careervira.com" target="_blank" style="display: inline-block;
                    box-sizing: border-box;
                    border-radius: 4px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                    padding: 10px;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #fff;
                    background-color: #1483dc;
                    border-color: #1483dc;
                    border: 0;
                    outline: 0;
                    cursor: pointer;">
                    Get Started
                </a>
            </div>
            <div class="card-section">
            <a target="_blank" href="https://www.careervira.com/courses/search" style="text-decoration: none; color: #2b2b2b;">
                <div class="card" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);">
                    <div class="card-img">
                        <img class="image" src="https://d2lk14jtvqry1q.cloudfront.net/media/welcome_Search_633f6712f4.png"/>
                    </div>
                    <div class="card-data">
                        <div class="card-title">Search from over 10,000 courses</div>
                        <div class="card-subtitle">Use our advanced search and filters to find top courses, institutes and learning partners</div>
                        <a class="card-link" target="_blank" href="https://www.careervira.com/courses/search">Learn More</a>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://www.careervira.com/compare" style="text-decoration: none;color: #2b2b2b;">
                <div class="card" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);">
                    <div class="card-img">
                        <img class="image" src="https://d2lk14jtvqry1q.cloudfront.net/media/welcome_Compare_1b7d13bb04.png"/>
                    </div>
                    <div class="card-data">
                        <div class="card-title">Compare courses & make decisions</div>
                        <div class="card-subtitle">Compare courses by skills, course content, placement and learners feedback</div>
                        <a class="card-link" target="_blank" href="https://www.careervira.com/compare">Learn More</a>
                    </div>
                </div>
            </a>
            <a target="_blank" href="https://www.careervira.com/advice" style="text-decoration: none;color: #2b2b2b;">
                <div class="card" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);">
                    <div class="card-img">
                        <img class="image" src="https://d2lk14jtvqry1q.cloudfront.net/media/welcome_Advice_f14b9356f8.png"/>
                    </div>
                    <div class="card-data">
                        <div class="card-title">Get career & learn advice</div>
                        <div class="card-subtitle">Get advice from top professionals, industry experts, academics and learners. Explor top career guide and learn paths</div>
                        <a class="card-link" target="_blank" href="https://www.careervira.com/advice">Learn More</a>
                    </div>
                </div>
            </a>
            </div>

            <div class="top-categories" style="margin-top: 48px; margin-bottom: 58px;text-align:center ;">
                <div style="font-size: 12px;font-weight: 600;margin-bottom: 30px;text-align:center ;">Explore Top Categories</div>
                <div class="explore-icons" style="font-family: Montserrat;">
                    <div class="icon" style="margin-right: 76px;">
                        <a target="_blank" href="https://www.careervira.com/courses/management">
                            <img style="margin: auto;object-fit: contain; line-height:0px; font-size:0px; border:0px;width: 70px; height: 80px;" src="https://d2lk14jtvqry1q.cloudfront.net/media/management_a3b8104cfe.png" width="40" height="40" alt="icon">
                        </a>
                        <div class="hex-text">Management</div>
                    </div>
                    <div class="icon" style="margin-right: 76px;">
                        <a target="_blank" href="https://www.careervira.com/courses/finance">
                            <img style="margin: auto;object-fit: contain; line-height:0px; font-size:0px; border:0px;width: 70px; height: 80px;" src="https://d2lk14jtvqry1q.cloudfront.net/media/finance_13b32dfab2.png" width="40" height="40" alt="icon">
                        </a>
                        <div class="hex-text">Finance</div>
                    </div>
                    <div class="icon">
                        <a target="_blank" href="https://www.careervira.com/courses/software-&-information-technology">
                            <img style="margin: auto;object-fit: contain; line-height:0px; font-size:0px; border:0px;width: 70px; height: 80px;" src="https://d2lk14jtvqry1q.cloudfront.net/media/software_5d1ff3d5db.png" width="40" height="40" alt="icon">
                        </a>
                        <div class="hex-text">Software</div>
                    </div>
                    
                </div>
                <div class="explore-icons" style="margin-top:40px;">
                    <div class="icon" style="margin-right: 76px;">
                        <a target="_blank" href="https://www.careervira.com/courses/data-&-analytics">
                            <img style="margin: auto;object-fit: contain; line-height:0px; font-size:0px; border:0px;width: 70px; height: 80px;margin-top: 10px;" src="https://d2lk14jtvqry1q.cloudfront.net/media/Datadata_analytics_bdedf27d95.png" width="40" height="40" alt="icon">
                        </a>
                        <div class="hex-text">Data & Analytics</div>
                    </div>
                    <div class="icon" style="margin-right: 76px;">
                        <a target="_blank" href="https://www.careervira.com/courses/blockchain">
                            <img style="margin: auto;object-fit: contain; line-height:0px; font-size:0px; border:0px;width: 70px; height: 80px;margin-top: 10px;" src="https://d2lk14jtvqry1q.cloudfront.net/media/blockch_fedfeaf37a.png" width="40" height="40" alt="icon">
                        </a>
                        <div class="hex-text">Blockchain</div>
                    </div>
                    <div class="icon">
                        <a target="_blank" href="https://www.careervira.com/courses/search">
                            <img style="margin: auto;object-fit: contain; line-height:0px; font-size:0px; border:0px;width: 70px; height: 80px;margin-top: 10px;" src="https://d2lk14jtvqry1q.cloudfront.net/media/explore_all_7cc69456eb.png" alt="icon">
                        </a>
                        <div class="hex-text" style="margin-top:2px ;">Explore all</div>
                    </div>
                </div>
            </div>

            <div class="blue-box">
                <div style="font-size: 16px;font-weight: 600; margin-bottom: 6px;">Get Better Learn Recommendations</div>
                <div style="font-size: 11px;font-weight: 400; margin-bottom: 24px;">Build your learn profile and add your top skills for better learning recommendations</div>
                <div class="button-block" style="text-align:center ; justify-content: center; width: 100%;">
                    <a href="https://www.careervira.com/my-account/profile" target="_blank" style="display: inline-block;
                        box-sizing: border-box;
                        border-radius: 4px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                        padding: 10px;
                        font-size: 12px;
                        line-height: 15px;
                        font-weight: 600;
                        text-decoration: none;
                        color: #1483dc;
                        background-color: #fafafa;
                        border-color: #fafafa;
                        border: 0;
                        outline: 0;
                        cursor: pointer;">
                        Learn Profile
                    </a>
                </div>
            </div>

        </div>
    </div>
{{> emailFooter }}